.container {
  width: 80%;
  height: 700px;
  margin: 0 auto;
  border: 10px solid black;
}

.item {
  width: 150px;
  height: 150px;
  background-color: aqua;
  font-weight: 700;
  padding: 1em;
  text-align: center;
  border: 10px solid #05696B;
  border-radius: 10px;

}

/* --------------------------------------- */

.container {
  display: flex;
  flex-direction: row;

}
.item-3 {
  flex-grow: 1;
}